# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
spark-sql/src/test/
spark-sql/target/
spark-warehouse/
src/main/java/
src/test/
